<p id="notice"><%= notice %></p>

<h1>Listing users</h1>


<br><br>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>




