@import "bootstrap";

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
/*
 * Style custom
 * --------------------------------------------------
 */
.container .jumbotron{
  padding: 20px;
}

.glyphicon{
  font-size: 20px;
  text-decoration: none;

  cursor: pointer;
  margin-left: 5px;
}

.glyphicon-remove,
.glyphicon-remove:hover{
  color: red;
}

.glyphicon-edit,
.glyphicon-edit:hover{
  color: orange;
}

/* nav_main */
.navbar{
}

  .logo_area{

  }

    .logo_area .text_logo:hover{
      color: rgb(119, 119, 119);
      text-decoration: none;
    }

    .logo_area .text_logo{
      text-transform: uppercase;
      color: rgb(119, 119, 119);
    }

    .logo_area .exit{
      position: absolute;
      right: 1px;
      bottom: -14px;

      color: #fff;
      font-size: 10px;      
    }

    .logo_area .name:before{
      content: 'Вы вошли как: ';

      position: absolute;
      left: 1px;
      top: -14px;

      color: #fff;
      font-size: 10px;
    }

    .logo_area .name:hover{
      
    }

    .logo_area .name{
      position: relative;
    }    

 /* create album form */
.desc_album{
  margin-bottom: 25px;
}


 /* Style custom modals */
.modal_info{

}

  .modal_info .modal-content{
    text-align: center;
    padding: 0 20px 20px;
  }

    .modal_info .title{
      padding-bottom: 5px;
    }

    .modal_info .body{
      padding-bottom: 15px;
    }  










 /*
 * Style custom admin
 * --------------------------------------------------
 */
 .admin{

 }

  .admin .navbar-fixed-top{
    background: red;
  }
