@import "bootstrap";

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

.h1, .h2, .h3, .h4,
h1, h2, h3, h4{
  margin: 0;
  padding-bottom: 20px;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
/*
 * Style custom
 * --------------------------------------------------
 */
.container .jumbotron{
  padding: 20px;
}

.glyphicon{
  font-size: 20px;
  text-decoration: none;

  cursor: pointer;
  margin-left: 5px;
}

.glyphicon-remove,
.glyphicon-remove:hover{
  color: red;
}

.glyphicon-edit,
.glyphicon-edit:hover{
  color: orange;
}

.albums_user_container > article{
  overflow: hidden;
}

  .albums_user_container > article .body{
    height: 140px;
    overflow: hidden;
  }



.thumb_album_container .thumb{
  cursor: pointer;
}

.thumb_album_container .description{
  overflow: hidden;
  height: 60px;
}

/* nav_main */
.navbar{
}

  .navbar .container{
    position: relarive;
  }

    .navbar .sidebar_toggler{
      position: absolute;
      right: 0;
      bottom: -23px;
    }

    .logo_area{

    }

      .logo_area .text_logo:hover{
        color: rgb(119, 119, 119);
        text-decoration: none;
      }

      .logo_area .text_logo{
        text-transform: uppercase;
        color: rgb(119, 119, 119);
      }

      .logo_area .exit{
        position: absolute;
        right: 1px;
        bottom: -14px;

        color: #fff;
        font-size: 10px;      
      }

      .logo_area .name:before{
        content: 'Вы вошли как: ';

        position: absolute;
        left: 1px;
        top: -14px;

        color: #fff;
        font-size: 10px;
      }

      .logo_area .name:hover{
        
      }

      .logo_area .name{
        display: inline-block;
        position: relative;
        min-width: 100px;

      }    

/* form */
form .field_with_errors{
  border: 1px solid red;
  border-radius: 5px;

}

/* edit_form_profile */
.edit_form_profile{

}

  .edit_form_profile label:after{
    content: ': ';
  }

/* user_profile_container */
.user_profile_container{

}

  .user_profile_container .h2{
    padding-bottom: 20px;
  }

  .user_profile_container .title:after{
    content: ': ';
  }

    .user_profile_container .profile > .row{
      padding-bottom: 20px;
    }

/* jumbotron */
.jumbotron .h1{
  margin: 0 0 10px;

  font-size: 24px;
}

.jumbotron .description_area{
  
}

 /* create album form */
.jumbotron .desc_album{
  margin-bottom: 25px;
}

.jumbotron .add_image_area{
  overflow: hidden;
  padding-top: 20px;
}

.jumbotron .add_image_form{
  display: none;
}

 /* alerts */
.alert-notice {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

 /* Style custom modals */
.modal_info{

}

  .modal_info .modal-content{
    text-align: center;
    padding: 0 20px 20px;
  }

    .modal_info .title{
      padding-bottom: 5px;
    }

    .modal_info .body{
      padding-bottom: 15px;
    }  

.modal_detail_image .modal-content{
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;  
  border: none;
}

.modal_detail_image .modal-dialog{
  width: 100%;

}    

.close_details_image{
  position: absolute;
  top: -55px;
  right: 40px;

  font-size: 60px;
  color: #fff;
}


.modal_detail_image{
  padding-top: 40px;
}

.modal_detail_image.in{
   background: rgba(0,0,0,0.9);
}

  .detail_image_file{
    text-align: center;

    padding-bottom: 20px;
  }

    .detail_image_img{
      margin: 0 auto;
    }


.detail_image_meta{
  color: #fff;
}

  .detail_image_meta .value{
    padding-bottom: 20px;
  }





 /*
 * Style custom admin
 * --------------------------------------------------
 */
 .admin{

 }

  .admin .navbar-fixed-top{
    background: red;
  }
























 /*
 * media queries
 * --------------------------------------------------
 */
@media (min-width: 768px) {
  body{ background: red; }

  .navbar .sidebar_toggler{
    display: none;
  }
}

@media (min-width: 992px) {
  body{ background: lime; }
}

@media (min-width: 1200px) {
  body{ background: orange; }
}