.jumbotron_show_poll{

}

  .jumbotron_show_poll .state_poll:hover{
    text-decoration: underline;
  }

  .jumbotron_show_poll .state_poll{
    text-decoration: none;
    color: #2a6496;

    cursor: pointer;
  }

  .jumbotron_show_poll .description_area{
    padding-bottom: 20px;
  }

  .jumbotron_show_poll .meta_area{
    font-size: 12px;
  }  

  .polls_sort_form > div{
    margin-bottom: 10px;
  }
  
  .polls_sort_form .btn_submit{
    margin-top: 25px;
  }  


.poll_image_container{

}  

  .polls_user_container article,
  .polls_all_container article,
  .poll_image_container article{
    padding-bottom: 30px;
  }

  .polls_user_container article.closed,
  .polls_all_container article.closed{
    color: #ccc;    
  }  

  .polls_user_container article.closed h3:before,
  .polls_all_container article.closed h3:before{
    content: 'ЗАКРЫТО:';
  }

  .poll_image_container .image_area{
    padding-bottom: 10px;
  }

  .poll_image_container .vote_area{
    padding-bottom: 10px;
  }

  .poll_image_container .vote_area .glyphicon-thumbs-up:before{
    padding-right: 10px;
  }

  .poll_image_container .vote_area .glyphicon-thumbs-up{
    margin-right: 30px;
    margin-top:3px;
  }