<% if flash %>
  <div class="notice_area">
    <% flash.each do |message_type,  message| %>
      <div class="alert  alert-<%= message_type %>" role="alert"><%= message %></div>
    <% end %>  
  </div>
<% end %>