<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Складик картинок: </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#1" id="about">О проекте</a></li>
        <li><a href="#2" id="rules">Правила</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Голосования <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Открытые</a></li>
            <li><a href="#">Закрытые</a></li>
          </ul>
        </li>
        <% if user_signed_in? %>  
          <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>          
        <% else %>
          <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
          <li><%= link_to 'Войти', new_user_session_path %></li>
          <li><%= link_to 'Восстановление пароля', new_user_password_path %></li>
        <% end %>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</nav><!-- /.navbar -->

