<% if notice || alert || flash %>
  <div class="flash_area">
    <% flash.each do |message_type,  message| %>
      <div class="alert  alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>    
  </div>
<% end %>